/* ------------------------------------------------------------ *\
	slider
\* ------------------------------------------------------------ */

.slider {
	position: relative;
	color: $white;
	overflow: hidden;

	& span {
		color: $gold;
	}	

	& .slide__image {
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		height: 846px;
	}

	& .slide__body {
		position: relative;
		height: 846px;
		display: flex;
		justify-content: center;
		text-align: center;
	}

	& .slide__content {
		margin-bottom: 20px;
	}
}

.slider_banner {
	& .owl-dots {
		position: absolute;
		left: calc(100% - 32px);
		top: 50%;
		transform: translateY(-50%);
	}

	& .owl-dot {
		width: 7px;
		height: 7px;
		background: $white;
		position: relative;
		transition: ease-in-out .3s;
		margin-bottom: 14px;
	}
	& .active {
		background: $gold;
		height: 10px;
		width: 10px;
	}
}