/* ------------------------------------------------------------ *\
	Services
\* ------------------------------------------------------------ */

.services { 
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 70px;
	& .service {
		flex: 1 1 20%;
	}
}

.service {
	text-align: center;
	padding: 50px 0;
	transition: ease-in-out .3s;

	&:hover {
		background: $white;
		box-shadow: 1.805px 2.396px 16px 0px rgba( 32, 32, 32, .05 );
	}
}
