/* ------------------------------------------------------------ *\
	Buttons
\* ------------------------------------------------------------ */

.btn { 
	display: inline-block;
	vertical-align: middle;
	background: $gold;
	min-width: 180px;
	padding: 0 15px;
	outline: 0;
	color: #FFF;
	height: 48px;
	line-height: 48px;
	text-transform: uppercase;
	border: 1px solid transparent;
	text-align: center;
}

.btn_transparent { 
	border-color: $white;
	background: transparent;

	&:hover{
		background: $gold;
		color: $white;
	}
}

.btn_empty{
	background: transparent;
	color: $gold;
	text-align: left;
	padding: 0;
	min-width: initial;
}

.btn_black {
	border: 1px solid $black;
	color: #3A3A3A;
}