/* ------------------------------------------------------------ *\
    Variables
\* ------------------------------------------------------------ */

/*  Colors  */
$white: #fff;
$black: #000;
$gold: #e8be7b;
$gray: #535552;

/*  Base body  */
$font-family: 'Lato', sans-serif;
$font-size: 14px;
$color: #000;
$background: #fff;
$line-height: 1.6;

/*  Shell  */
$shell: 1200px;
$shell-padding: 0 15px;