/* ------------------------------------------------------------ *\
	Skills
\* ------------------------------------------------------------ */

.skills {
	display: flex;
	justify-content: space-around;
}

.skill {
	width: 75px;
	height: 75px;
	border: 1px solid $red;
	background-color: transparent;
	line-height: 75px;
	border-radius: 50%;
	font-size: 13px;
	cursor: pointer;
	transition: ease-in-out .3s;

	&:hover {
		color: $white;
		background: $red;
		box-shadow: 0 1px 5px rgba($black, .4);
	}
}