/* ------------------------------------------------------------ *\
	Contact
\* ------------------------------------------------------------ */

.contacts {
	padding-top: 45px;
	
	& h4 {
		margin-bottom: 5px;
	}

	& .contact__row {
		margin-bottom: 15px;
	}
}
