/* ------------------------------------------------------------ *\
	Buttons
\* ------------------------------------------------------------ */

.btn { 
	display: inline-block;
	vertical-align: middle;
	background: $red;
	height: 40px;
	padding: 0 22px;
	font-family: 'Montserrat', sans-serif;
	line-height: 40px;
	font-size: 14px;
	color: $white;
	font-weight: bold;
	transition: ease-in-out .3s;

	&:hover {
		background: rgba($red, .7);
	}
}

.btn_rounded {
	border-radius: 30px;
}


.btn_large {
	min-width: 225px;
}

.btn_neutral {
	color: $white;
	border: 3px solid $white;
	height: 36px;
	line-height: 30px;

	&:hover {
		background: $white;
		color: $red;
	}
}

.btn_transparent {
	background: transparent;
}

.btn_small {
	font-size: 10px;
	height: 20px;
	line-height: 20px;
}

.btn_boardered {
	border: 2px solid $red; 
	color: $red;
	height: 36px;
	line-height: 34px;

	&:hover {
		background: rgba($red, .08); 
	}
}
