/* ------------------------------------------------------------ *\
    Variables
\* ------------------------------------------------------------ */

/*  Colors  */
$white: #fff;
$black: #000;
$red: #ff4e50;
$gray: #cccccc;

/*  Base body  */
$font-family: 'Roboto', sans-serif;
$font-weight: 300;
$font-size: 14px;
$color: #000;
$background: #fff;
$line-height: 1.6;

/*  Shell  */
$shell: 940px;
$shell-padding: 0 15px;