/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */

.socials {

	ul {
		font-size: 0;
	}	

	li {
		display: inline-block;
		margin-right: 10px;
	}
	& a {
		font-size: 18px;
		text-align: center;
		display: inline-block;
		background: #717171;
		height: 44px;
		width: 44px;
		line-height: 44px;
		border-radius: 50%;

		&:hover {
			background: $red;	
		}
	}
}